#check {
    display: none;

}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: #cccccc84;
}

label #btn {
    left: 0;
    top: 25px;
    font-size: 35px;
    color: #8f8a8a;
    padding: 6px 12px;
    border-radius: 5px;
    display: none;
}

#check:checked ~ .sidebar {
    left: 0;
}
