.card {
    width: 98%;
    height: 90vh;
    background-color: white;
    margin-top: 5rem;
    margin-left: 2rem;
    border-radius: 10px;
    padding: 20px;
}

.card-table {
    
    overflow-x: auto;
}
thead tr {
    height: 70px;
    font-size: 20px;
    background-color: #4A96A6;
    color: white;
}
.mytable {
    width: 98%;
    margin: auto;
}
input {
    width: 23rem;
    height: 3rem;
    padding-left: 13px;
    border: none;
    background-color: #cccccc84;
    background-image: url('icons8-sistrix.svg');
    border-radius: 5px;
    background-size: 2rem;
    background-position: 1rem;
    background-repeat: no-repeat;
    outline: none;
    padding-left: 55px;
}

input:focus{
    border: 3px solid #79B51C;
    background-image: url('icons8-sistrix (1).svg');
  }
.search-input{
    display: flex;
    justify-content: space-between;
}
table thead tr th {
    border-bottom: 2px solid #8f8a8a;
    text-align: center;
    font-size: 30px;
    color: #8f8a8a;
    height: 50px;
}

tbody th, td {
    text-align: center;
    border-left: 1px solid #8f8a8a;
    border-bottom: 1px solid #8f8a8a;
    font-size: 25px;
    color: #8f8a8a;
    height: 60px;
}

tbody tr th {
    background-color:#4A96A6 ;
    color: white;
    font-size: 20px;
    height: 40px;
}

.ligne-width {
    width: 20%;
}
.ligne-width1 {
    width: 18%;
}

.ligne-width2 {
    width: 22%;
}

#delete-border-left {
    border-left: none;
}

.btn-table {
    background-color: #1898A8;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-table:hover {
    background-color: white;
    color: #1898A8;
    border: 3px solid #1898A8;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #cccccc84;
    color: #1898A8;
}
tbody tr:hover {
    color: #1898A8;
    background-color: #cccccc84;
   
}



@media screen and (width:1440px) {
    .card {
        margin-left: 4rem;
        width: 96%;
        margin-top: 1rem;
        height: 90vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
   
}
@media screen and (width:1024px) {
    .card {
        margin-left: 4rem;
        width: 96%;
        margin-top: 1rem;
        height: 100vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
   
}

@media screen and (width:768px) {
    .card {
        margin-left: 4rem;
        width: 96%;
        margin-top: 1rem;
        height: 100vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
   
}


@media screen and (max-width:425px) {
    .container {
        max-width: 425px;
        margin: auto;
        padding: 0;
    }
    span, .logo img {
        display: none;
    }
   .active {
       width: 30px;
       padding-left: 0;
   }

   .sidebar {
       width: 12%;
       margin: 0;
       padding: 0;
       left: -12%;
       position: fixed;
       transition: all .5s;
   }

   ul   {
       padding: 5px;
       margin-top: 5rem;
   }

   .list2 {
       margin-top: 18rem;
   }

   label #btn {
       display: inline;
       left: 20px;
       top: 10px;
   }

   .label2 {
    display: none;
}

   .navbar {
       width: 105%;
       margin-left: -90px;
       position: fixed;
       top: 0;
   }

   .card {
    height: 110vh;
       width: 360px;
       margin-left: -4rem;
       margin-top: 8rem;
   }

   tbody tr td {
       font-size: 12px;
   }

   tbody tr th {
       font-size: 12px;
   }

   .mytable {

    width: 200%;
   }

   .btn-table{
    height: 25px !important;
    font-size: 12px;
    width: 5rem;
}

}

@media screen and (max-width:375px) {
    .container {
        max-width: 375px;
        margin: auto;
        padding: 0;
    }
    span, .logo img {
        display: none;
    }
   .active {
       width: 30px;
       padding-left: 0;
   }

   .sidebar {
       width: 12%;
       margin: 0;
       padding: 0;
       left: -12%;
       position: fixed;
       transition: all .5s;
   }

   ul   {
       padding: 5px;
       margin-top: 5rem;
   }

   .list2 {
       margin-top: 18rem;
   }

   label #btn {
       display: inline;
       left: 20px;
       top: 10px;
   }

   .label2 {
    display: none;
}

   .navbar {
       width: 105%;
       margin-left: -90px;
       position: fixed;
       top: 0;
   }

   .card {
    height: 110vh;
       width: 360px;
       margin-left: -4rem;
       margin-top: 8rem;
   }

   tbody tr td {
       font-size: 12px;
   }

   tbody tr th {
       font-size: 12px;
   }

   .mytable {

    width: 200%;
   }

   .btn-table{
    height: 25px !important;
    font-size: 12px;
    width: 5rem;
}

}